
/* ------------------------------------------ RESETING */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,

*:after, *:before,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
	/*border: 1px solid red;*/
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* --------- General ----------------*/
body {
	/*font-size: initial;*/
	/*background-color: honeydew;*/
}
html, body{
	font-family: 'Open Sans', sans-serif;
}
/* --------- Bookmarks ----------------*/
.bookmarks{
	text-align: center;
}

.bookmark, .bookmark-placeholder{
	padding: 10px;
	font-size: 30px;

	text-align: center;
	white-space: nowrap;
	overflow: auto;
	border-radius: 4px;
}

.bookmark {
	/*border: 2px solid #1E824C;*/
	border: 2px solid black;
	background-color: rgba(53, 147, 180, 0.33);
}
.bookmarks a{
	/*color: #1E824C;*/
	color: black;
	text-decoration: none;
}

.bookmark:hover{
	/*border: 2px solid #3FC380;*/
	/*border: 2px solid white;*/
	border: 2px solid #027C81;
}
.bookmark:hover, .bookmark:hover a{
	/*color: #3FC380;*/
	color: #027C81;

}

.bookmark-placeholder {
	/*border: 2px solid #22313F;*/
	/*color: #22313F;*/
	cursor: pointer;
	border: 2px solid lightgrey;
	color: lightgrey;

}
.bookmark-placeholder:hover{
	/*border: 2px solid #446CB3;*/
	/*color: #446CB3;*/
	border: 2px solid #22313F;
	color: #22313F;
}
/* ------------ Popup-----------------*/
a.selected {
  background-color:#1F75CC;
  color: white;
  z-index:100;
}

.messagepop {
  /*background-color:#FFFFFF;*/
  border: 1px solid #999999;
  cursor: default;
  display: none;
  margin-top: 15px;
  position: absolute;
  text-align: left;
  width: 394px;
  z-index: 50;
  padding: 25px 25px 20px;
}

label {
  display: block;
  margin-bottom: 3px;
  padding-left: 15px;
  text-indent: -15px;
}

.messagepop p, .messagepop.div {
  /*border-bottom: 1px solid #EFEFEF;*/
  margin: 8px 0;
  padding-bottom: 8px;
}
/*----------- text input ---------------*/

input{
	padding: 4px;
	font-family: 'Open Sans', sans-serif;
	color:  #1E824C;
	border-radius: 4px;
	border: 1px solid  #1E824C;
}
input:focus{
  outline-color: transparent;
  outline-style: none;
  outline: none;
}
/*--------------------*/
button {
	border: none;
	background-color: transparent;
}

button.delete-bookmark, button.edit-bookmark {
	/*background-color: #CF000F;*/
	padding: auto;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 5px;
	margin-left: 5px;
	background-color: none;

	/*border-color: transparent;*/
	/*border-radius: 5%;*/
}
button.delete-bookmark:hover, button.edit-bookmark:hover{
	/*background-color: black;*/
	/*color: #CF000F;*/

}

/* -------------- Header ---------------*/
button.add{
	/*background-color: #1BBC9B;*/
	padding: 10px;
	/*border-color: transparent;*/
	/*border-radius: 5%;*/
}
button.add:hover{
	/*background-color: black;*/
	/*color: #1BBC9B;*/
	/*border: 1px solid #1BBC9B;*/

}
/*.settings {
	border-radius: 4px;
	border: 2px solid lightgrey;
	text-align: center;
	margin: 20px auto 5px;
	padding: 10px 0;
	width: 89%;
}*/
.credits {
	border-radius: 4px;
	/*border: 2px solid lightgrey;*/
	text-align: center;
	margin: 20px auto 5px;
	padding: 10px 0;
	width: 89%;
	color: lightgrey;
	font-size: 15px;
}
/*--------------Cols and Rows ---------------*/
.col1-3 {
	margin: 16px 8px 0;
}
.row1-3{
	display: inline-block;
	width: 30%;
	text-align: center;
}

.col {

}
.totally-hidden {
	display: none;
}
/*------------ Support for diff screen sizes ---------*/
@media screen and (max-width: 760px) and (min-width: 461px) {
	.bookmark, .bookmark-placeholder {
		font-size: 15px;
	}
	.col1-3 {
		display: block;
	}
		/*for testing purposes*/
	/*body {
		background-color: red;
	}*/
}
@media screen and (max-width: 460px)  {
	.bookmark, .bookmark-placeholder {
		font-size: 15px;
	}
	.bookmarks{
		margin-bottom: 30px;
	}
	.col1-3 {
		display: inline-block;
		width: 70%;
	}
	.row1-3{
		display: initial;
	}
	/*body {
		background-color: pink;
	}*/

}